asgiref==3.8.1
Django==4.2.20
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.0
drf-nested-routers==0.93.5
drf-yasg==1.21.10
inflection==0.5.1
packaging==25.0
pillow==11.2.1
psycopg2-binary==2.9.10
PyJWT==2.9.0
python-dateutil==2.8.2
pytz==2025.2
PyYAML==6.0.2
rest-framework-simplejwt==0.0.2
setuptools==80.1.0
six==1.17.0
sqlparse==0.5.3
uritemplate==4.1.1
xmltodict==0.13.0
